.back{
    display: block;
    background-color: gray;
    width: 70%;
    height: 800px;
    margin: 0 auto;
    margin-top: 50px;
}
.bigback{
    display: block;
    background-color: gray;
    width: 70%;
    height: 850px;
    margin: 0 auto;
    margin-top: 50px;
}
.smallback{
    display: block;
    background-color: gray;
    width: 70%;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
.formelements{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 50%;
    height: 50px;
    text-align: center;
}
.buttons{
    margin-top: 50px;
}
.leftbut{
    display: block;
    float: left;
    margin-left: 50px;
    width: 25%;
    height: 50px;
    text-align: 
    center;
}
.middlebut{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 25%;
    height: 50px;
    text-align: center;
}
.rightbut{
    display: block;
    float: right;
    margin-right: 50px;
    width: 25%;
    height: 50px;
    text-align: center;
}
.title{
    padding-top: 20px;
    padding-bottom: 20px;
}
.label{
    font-weight: bolder;
    font-size: xx-large;
}
.label2{
    margin-top: 20px;
    font-weight: bolder;
    font-size:x-large;
}
@media screen and (max-width:760px) {
    .back{
        width: 90%;
    }
    .bigback{
        width: 90%;
    }
    .smallback{
        width: 90%;
    }
    .leftbut{
        width: 30%;
        margin-left: 0px;
        height: 70px;

    }
    .rightbut{
        width: 30%;
        height: 70px;
        margin-right: 0px;
    }
    .middlebut{
        width: 30%;
        height: 70px;
    }
}
@media  screen and (max-width:300px) {
    .back{
        width: 100%;
    }
    .bigback{
        width: 100%;
        height: 900px;
    }
    .smallback{
        width: 100%;
    }
    .leftbut{
        width: 33%;
        margin-left: 0px;
        height: 70px;

    }
    .rightbut{
        width: 33%;
        height: 70px;
        margin-right: 0px;
    }
    .middlebut{
        width: 33%;
        height: 70px;
    }
}